# See https://squidfunk.github.io/mkdocs-material/publishing-your-site/#with-github-actions
name: Deploy Documentation
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    # Pages deploy is not necessary in forks
    if: ${{ github.repository == 'dynatrace-oss/open-ecosystem-challenges' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Install Plugins
        run: |
          pip install mkdocs-material
          pip install mkdocs-monorepo-plugin
      - name: Deploy Documentation
        run: mkdocs gh-deploy --force